*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

html, body{
    height: 100%;
}

body{
    background-color: rgb(44, 2, 83);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
body > header{
    background-color: rgb(34, 8, 59);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

body > header > nav > ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 25px;
}

body > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 2rem;
}
body > main > section {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

a{
    color: rgb(255, 138, 157);
    text-decoration: none;
}
a:hover{
    color: rgb(247, 55, 87);
}

.sobreMim{  
    margin-top: 2rem;
}

.conteudo{
    display: flex;
    margin: 2rem;
}
.conteudo > p{
    margin: 2rem;
}

body > footer{
    background-color: rgb(34, 8, 59);
    margin-top: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    border-radius: 5px;
}

.sobreMim > header > h1{
    font-size: 40px;
    color: rgb(248, 100, 124);
}

strong{
    color: rgb(255, 138, 157);
}