body{
    margin: 3vw;
    padding: 0;
    background-color: rgb(47, 0, 90);
    color: rgb(205, 155, 252);
}

.container_imagens{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.card{
    background-color: rgb(83, 1, 160);
    width: 250px;
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
}
.card img{
    border-radius: 8px;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
}