body{
    background-color: rgb(88, 1, 37);
    color: rgb(255, 176, 189);
}

/* ATIVIDADE 2 */
.item{
    background-color: rgb(119, 1, 50);
    border: 2px solid rgb(255, 176, 189);
    border-radius: 4px;
    height: 40vh;
}

.grid_container{
    display: grid;
    height: 30rem;
    grid-template-columns: 10vh 30vh;
    gap: 2vw;
    justify-content: center;
    align-content: center;
}




/* ATIVIDADE 1
.item{
    background-color: rgb(119, 1, 50);
    border: 2px solid rgb(255, 176, 189);
    border-radius: 4px;
    height: 40vh;
}

.grid_container{
    display: grid;
    grid-template-columns: 10vh 30vh;
    gap: 2vw;
    justify-content: center;
    align-content: center;
} */


/* EXEMPLO DA EXPLICAÇÃO

.grid_container{
    border: 5px dotted pink;
    border-radius: 5px;
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr;
    FR -> se extende o máximo que puder
    grid-template-rows: 100px 200px 80px;
    row-gap: 5rem;
    column-gap: 2rem;
}

.item{
    background-color: rgb(66, 2, 29);
    border: 2px solid rgb(196, 91, 126);
    border-radius: 5px;
    padding: 1rem;
} */