body {
    background-color: rgb(43, 0, 112);
    color: antiquewhite;
}

input,
textarea {
    background-color: rgba(253, 166, 202, 0.151);
    border: none;
    border-radius: 3px;
    color: antiquewhite;
    width: 500px;
    height: 35px;
}

input::placeholder,
textarea::placeholder {
    color: rgb(204, 77, 130);
}

input:focus,
textarea:focus {
    border: 2px solid rgb(252, 35, 125);
    outline: none;
    font-weight: bold;
    box-shadow: 0px 0px 8px rgb(155, 0, 65);
}

textarea {
    width: 600px;
    height: 200px;
    resize: none;
}

form {
    background-color: rgb(31, 0, 80);
    border: none;
    border-radius: 3px;
    margin: 60px;
    padding: 30px;
    width: 600px;
    font-size: 25px;
    justify-self: center;
}

button {
    background-color: rgb(167, 1, 70);
    color: antiquewhite;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    font-size: large;
    cursor: pointer;
}

button:hover {
    background-color: rgb(252, 35, 125);
    box-shadow: 0px 0px 8px rgb(252, 35, 125);
}